discord.py
alt-profanity-check
tldextract
tiktoken
ollama
openai
together
cohere
google-genai
huggingface_hub
anthropic
transformers
youtube-transcript-api
pdfplumber
scrapingant-client
feedparser
praw
atproto
python-telegram-bot
telethon
gtts
playwright
beautifulsoup4
